<template>
  <div class="container-fluid">
    <form class="pt-4" @submit.prevent="submitForm">
      <div class="row justify-content-center">
        <div class="container">
          <div class="row justify-content-center">
            <p style="font-size: 18px; font-weight: 450; color: black">Ingrese sus palabras</p>
          </div>
        </div>
        <div class="col-auto">
          <input type="text" class="form-control" v-model="dataForm.word1" id="word1" placeholder="Palabra 1">
        </div>
        <div class="col-auto">
          <input type="text" class="form-control" v-model="dataForm.word2" id="word2" placeholder="Palabra 2">
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary mb-3">Enviar</button>
        </div>
      </div>
    </form>
  </div>
  <div class="container">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Palabra 1</th>
        <th scope="col">Palabra 2</th>
        <th scope="col">Anagrama ?</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(item, index) in responseData" :key="index">
        <td>{{item.word1}}</td>
        <td>{{item.word2}}</td>
        <td>
          <span v-if="item.anagram == false">No</span>
          <span v-if="item.anagram == true">Sí</span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import axios from 'axios';
export default {
  name: 'Word',
  props: {
    msg: String
  },
  data() {
    return {
      dataForm: {},
      responseData: [],
    }
  },
  mounted() {
    this.getData();
  },
  methods:{
    submitForm: function (){
      let isAnagram = this.isAnagram(this.dataForm.word1, this.dataForm.word2);
      this.saveForm(this.dataForm.word1, this.dataForm.word2, isAnagram);
    },
    isAnagram: function (word1, word2){
      word1.toLowerCase();
      word2.toLowerCase();

      let char1 = word1.split('');
      let char2 = word2.split('');

      char1.sort();
      char2.sort();

      const wordFixed1 = char1.join('');
      const wordFixed2 = char2.join('');

      return wordFixed1 === wordFixed2;
    },
    getData: function (){
      axios.get('http://127.0.0.1:8001/api/word', {
        headers: {
          'Authorization': 'Bearer' + 'Your Bearer Password',
          "Content-Type": "application/json",
        }
      }).then(response => {
            this.responseData = response.data
          })
          .catch(function (error) {
            console.log(error);
          });
    },
    saveForm: function (word1, word2, anagram){
      let data = {
        word1: word1,
        word2 : word2,
        anagram : anagram
      };
      axios.post('http://127.0.0.1:8001/api/word', data, {
        headers: {
          'Authorization': 'Bearer' + 'Your Bearer Password',
          "Content-Type": "application/json",
        }
      }).then(response => {
            console.log(response.data);
            this.dataForm = {};
            this.getData();
          })
          .catch(function (error) {
            console.log(error);
          });
    },
  }
}
</script>

<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
